{% extends "layout/base.html" %}
{% block title %} Pathfinding Algorithm Page {% endblock %}
{% block content %}
  <main class="canvas"></main>

  <div class="card canvas-pathfinding-control">
    <button type="button" class="btn btn-primary pencil-btn" onclick="wall_pencil_press()">Draw walls</button>
    <button type="button" class="btn btn-success pencil-btn" onclick="start_pencil_press()">Draw start point</button>
    <button type="button" class="btn btn-dark pencil-btn" onclick="end_pencil_press()">Draw end point</button>
    <button type="button" class="btn btn-light pencil-btn" onclick="clean_grid_press()">Clean the grid</button>
    <button type="button" class="btn btn-white pencil-btn" onclick="find_path_press()">Find a path</button>
  </div>

{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
  <script defer src="{{url_for('static', filename='script/pathfinding_algorithm.js')}}"></script>
  <script defer src="{{url_for('static', filename='script/sketch_pathfinding.js')}}"></script>
  <script defer src="{{url_for('static', filename='script/script_pathfinding.js')}}"></script>
{% endblock %}
